@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #candidates-container {
    margin: 0 10% 3% 10%;
  }
  #candidates-container p {
    font-size: 24px;
  }
  #candidates-intro {
    width: 281px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 40px;
  }
  .candidate-box {
    background-color: #EB7A7A;
    border: solid black 2px;
    margin: 0% 1% 0% 1%;
    max-width: 400px;
    -webkit-box-flex: 33%;
        -ms-flex: 33%;
            flex: 33%;
  }
  .candidate-box-title-text {
    background-image: url("https://github.com/FrankZiWANG-dev/Guinea-pig-presidentials/blob/master/assets/images/candidate-bg-top.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    height: 54px;
    line-height: 54px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .candidate-intro-pic-bg {
    background-image: url("https://github.com/FrankZiWANG-dev/Guinea-pig-presidentials/blob/master/assets/images/candidate-bg-middle.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  .candidate-intro-pic {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    border: white solid 3px;
    margin: 2% 0% 2% 0%;
  }
  .candidate-box-text {
    padding: 5px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1023px) {
  #candidates-container {
    margin: 0 10% 3% 10%;
  }
  #candidates-container p {
    font-size: 36px;
  }
  #candidates-container h1 {
    font-size: 44px;
    margin: 0;
  }
  #candidates-intro {
    width: 460px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 60px;
  }
  .candidate-box {
    background-color: #EB7A7A;
    border: solid black 2px;
    margin: 0% 1% 0% 1%;
    -webkit-box-flex: 33%;
        -ms-flex: 33%;
            flex: 33%;
  }
  .candidate-box-title-text {
    background-image: url("https://github.com/FrankZiWANG-dev/Guinea-pig-presidentials/blob/master/assets/images/candidate-bg-top.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 40px;
    height: 72px;
    line-height: 72px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .candidate-intro-pic-bg {
    background-image: url("https://github.com/FrankZiWANG-dev/Guinea-pig-presidentials/blob/master/assets/images/candidate-bg-middle.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  .candidate-intro-pic {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    border: white solid 3px;
    margin: 2% 0% 2% 0%;
  }
  .candidate-box-text {
    padding: 10px;
  }
}

@media only screen and (min-device-width: 1024px) {
  #candidates-container p {
    font-size: 32px;
    margin: 5px;
  }
  #candidates-container h1 {
    font-size: 40px;
    margin: 10px;
  }
  #candidates-intro {
    width: 90%;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
  }
  .candidate-box {
    background-color: #EB7A7A;
    border: solid black 2px;
    -webkit-box-flex: 33%;
        -ms-flex: 33%;
            flex: 33%;
  }
  .candidate-box-title-text {
    background-image: url("https://github.com/FrankZiWANG-dev/Guinea-pig-presidentials/blob/master/assets/images/candidate-bg-top.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 34px;
    height: 72px;
    line-height: 72px;
    margin-top: 0;
  }
  .candidate-intro-pic-bg {
    background-image: url("https://github.com/FrankZiWANG-dev/Guinea-pig-presidentials/blob/master/assets/images/candidate-bg-middle.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  .candidate-intro-pic {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    border: white solid 3px;
  }
  .candidate-box-text {
    padding: 10px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=candidates.css.map */