@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #home-container{
        display:flex;
        flex-direction: column;
    }
    #home-logo{
        flex: 10%;
        max-width: 90%;
        margin: 2% auto 2% auto;
    }
    #home-text{
        flex: 90%;
    }
    h1 {
        font-size: 40px;
        -webkit-text-stroke: 1px black;
    }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 1023px) {
    #home-container{
        display:flex;
        flex-direction: column;
    }
    #home-logo{
        flex: 10%;
        width: 40px;
        margin: 2% auto 2% auto;
    }
    #home-text{
        flex: 90%;
    }
    h1 {
        font-size: 40px;
        -webkit-text-stroke: 1px black;
    }
}
@media only screen and (min-device-width : 1024px) {
    #home-container{
        display:flex;
        flex-direction: column;
    }
    #home-logo{
        flex: 10%;
        width: 40px;
        margin: 2% auto 2% auto;
    }
    #home-text{
        flex: 90%;
    }
    h1 {
        font-size: 40px;
        -webkit-text-stroke: 1px black;
    }
}