//GENERAL
@mixin font {
    font-family: 'Bubblegum Sans', cursive;
    color: white;
    font-size: 32px;
    text-shadow: 2px 2px 2px #000000;
    -webkit-text-stroke: 1px black;
    font-weight:initial;
}

//nav bar
nav{
    display: flex;
    background-color: #5F6363;
    align-items: center;
    a {
    @include font;
    text-decoration: none;
    }
}
#president-guinea-pig{
    margin: 2%;
    border-radius: 50%;
    border: solid 2px black;
    max-width: 95px;
    max-height: 95px;
    vertical-align: middle;
}
#title-text{
    vertical-align: middle;
}
.title {
    flex: 30%;
}
.nav-link {
    flex: 11%;
}
#nav-vote {
    flex: 26%;
}
#vote-button {
    margin: 2%;
    max-width: 170px;
    border: black solid 2px;
}


//body
body {
    @include font;
    background-color: #F5CE92;
    text-align: center;
    margin: 0px;
}

//homepage
#home-container{
    display:flex;
    flex-direction: column;
}
#home-logo{
    flex: 10%;
    margin: 2% auto 2% auto;
}
#home-text{
    flex: 90%;
}
h1 {
    font-size: 40px;
    -webkit-text-stroke: 1px black;
}

//projectpage
#project-container{
    margin: 3% 10% 3% 10%;
}
#project1{
    display: flex;
}
#project-logo1{
    flex: 30%;
    max-width: 300px;
    border-radius: 50%;
    border: white solid 3px;
}
#project-text1{
    flex: 70%;
    align-self: center;
    margin: 0% 5% 0% 5%;
}

#project2{
    display: flex;
}
#project-logo2{
    flex: 30%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: white solid 3px;
}
#project-text2{
    flex: 70%;
    align-self: center;
    margin: 0% 5% 0% 5%;
}


//footer
footer{
    a {
    @include font;
    text-decoration: none;
    }
}

//HOMEPAGE