//GENERAL
@mixin font {
    font-family: 'Bubblegum Sans', cursive;
    color: white;
    font-size: 32px;
    -webkit-text-stroke: 2px black;
}

//nav bar
nav{
    display: flex;
    background-color: #5F6363;
    align-items: center;
    a {
    @include font;
    text-decoration: none;
    }
}
#president-guinea-pig{
    margin: 2%;
    border-radius: 50%;
    border: solid 2px black;
    max-width: 95px;
    max-height: 95px;
    vertical-align: middle;
}
#title-text{
    vertical-align: middle;
}
.title {
    flex: 30%;
}
.nav-link {
    flex: 11%;
}
#nav-vote {
    flex: 26%;
}


//body
body {
    @include font;
    background-color: #F5CE92;
    text-align: center;
    margin: 0px;
}
#home-container{
    display:flex;
    flex-direction: column;
}
#home-logo{
    flex: 10%;
    margin: 2% auto 2% auto;
}
#home-text{
    flex: 90%;
}
h1 {
    font-size: 36px;
    border: solid 2px black;
}


//footer
footer{
    a {
    @include font;
    text-decoration: none;
    }
}

//HOMEPAGE